.switch-language-wrapper .tgl {
  display: none;
}

.switch-language-wrapper,
.switch-language-wrapper *,
.switch-language-wrapper *:after,
.switch-language-wrapper *:before {
  box-sizing: border-box;
}

.switch-language-wrapper .tgl::selection,
.switch-language-wrapper .tgl:after::selection,
.switch-language-wrapper .tgl:before::selection,
.switch-language-wrapper .tgl *::selection,
.switch-language-wrapper .tgl *:after::selection,
.switch-language-wrapper .tgl *:before::selection,
.switch-language-wrapper .tgl + .tgl-btn::selection {
  background: none;
}

.switch-language-wrapper .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.switch-language-wrapper .tgl + .tgl-btn:after,
.switch-language-wrapper .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.switch-language-wrapper .tgl + .tgl-btn:after {
  left: 0;
}

.switch-language-wrapper .tgl + .tgl-btn:before {
  display: none;
}

.switch-language-wrapper .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.switch-language-wrapper .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.switch-language-wrapper .tgl-flip + .tgl-btn:after,
.switch-language-wrapper .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: var(--color-text-gray);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}

.switch-language-wrapper .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #474bff;
  transform: rotateY(-180deg);
}

.switch-language-wrapper .tgl-flip + .tgl-btn:before {
  box-shadow: inset 0 0 0 1px var(--color-text-gray);
  content: attr(data-tg-off);
}

.switch-language-wrapper .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.switch-language-wrapper .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.switch-language-wrapper .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: var(--color-bg-primary);
  box-shadow: inset 0 0 0 1px var(--color-text-gray);
}

.switch-language-wrapper .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}
