.switch-wrapper input[type="checkbox"] {
  visibility: hidden;
}

.switch-wrapper *,
.switch-wrapper ::after,
.switch-wrapper ::before {
  box-sizing: border-box;
}

.switch-wrapper .switch {
  --width-of-switch: 3em;
  --height-of-switch: 2em;
  --size-of-icon: 1.5em;
  --slider-offset: 0.2em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

.switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  box-shadow: inset 0 0 0 1px var(--color-text-gray);
  transition: 0.4s;
  border-radius: 10px;
}

.switch-wrapper .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1em);
  width: var(--size-of-icon, 1em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  box-shadow: inset -8px -2px 5px -5px #474bff, inset -7px -2px 0 0 #7a7dff;
  transition: 0.4s;
}

.switch-wrapper input:checked + .slider {
  background-color: #303136;
}

.switch-wrapper input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset 0 0 1px 0px white;
  background: linear-gradient(40deg, #d8eb32, #bbb954 40%);
}
