@import "tailwindcss";

/* Global colors for /light */
:root {
  --color-bg-primary: #ffffff;
  --color-bg-btn: #232c3f;
  --color-text-primary: #111827;
  --color-text-btn: #e7e7e7;
  --color-btn-hover: #1d4ed8;
  --color-btn-active: #1d4ed8;
  --color-text-gray: #9d9fa3;
}

/* Global colors for /dark */
html.dark {
  --color-bg-primary: #303136;
  --color-bg-btn: #6695d600;
  --color-text-primary: #dddada;
  --color-text-btn: #ffffff;
  --color-btn-active: #4b5563;
  --color-btn-hover: #00ffea23;
  --color-text-gray: #9d9fa3;
}

/* Main background color */
.bg-primary {
  background-color: var(--color-bg-primary);
}

/* Customs for easy working with tailwind and less code */
.flex-center {
  @apply flex justify-center items-center;
}

.custom-shadow {
  box-shadow: -4px 5px 4px -6px var(--color-text-gray);
}

.custom-text {
  color: var(--color-text-primary);
}

/* Text styles */
h1,
h2,
h3 {
  color: var(--color-text-primary);
  text-align: center;
}

.title-h1 {
  @apply text-3xl md:text-6xl font-semibold mb-4;
  line-height: 1.3;
}

.title-h2 {
  @apply text-3xl md:text-5xl font-medium mb-4;
}

.title-h3 {
  @apply text-xl md:text-2xl font-light mb-4;
}

.title-h4 {
  @apply text-xl md:text-2xl font-medium mb-4 items-center;
  color: var(--color-text-primary);
  text-align: center;
}

/* Button Styles */
.btn-primary-xs {
  @apply px-4 py-2 rounded-3xl cursor-pointer text-xs min-w-30;
  box-shadow: 0px 0px 5px -2px var(--color-text-gray);
  background-color: var(--color-bg-btn);
  color: var(--color-text-btn);
}

.btn-primary {
  @apply px-4 py-2  md:px-6 md:py-4 rounded-3xl cursor-pointer;
  box-shadow: 0px 2px 5px -2px var(--color-text-gray);
  background-color: var(--color-bg-btn);
  color: var(--color-text-btn);
}

.btn-primary:hover,
.btn-primary-xs:hover {
  background-color: var(--color-btn-hover);
}

/* For NavLinks in future */
.active {
  color: var(--color-btn-hover);
}

/* MUI footer inputs(Because tailwind didn`t see MUI Components) */
.custom-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-text-primary); /* default border color */
}
.custom-input .MuiInputLabel-root {
  color: var(--color-text-primary); /* default label color */
}
.custom-input .MuiOutlinedInput-input {
  color: var(--color-text-primary); /* input text color */
}
.custom-input .MuiFormHelperText-root {
  color: var(--color-text-primary); /* helper text color */
}

/* MUI focused inputs */
.custom-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-btn-hover);
}
.custom-input .MuiInputLabel-root.Mui-focused {
  color: var(--color-btn-hover);
}

/* ERROR */
.custom-input .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-error);
}
.custom-input .MuiFormHelperText-root.Mui-error {
  color: var(--color-error);
}

/* Background images */

.bg-image-coding {
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3eXpjbG5xdmI5bjg5bTFpNHUwMjB1bDV1NDF5Z3M4dmVsaG9zNnBtaSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/HscDLzkO8EOTmgkhQP/giphy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-image-notfound {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGR4dTkybWNrZGExbXJyMWZ1bDd0OXIxNW8xYjVoaDAwcnpqNTd1MCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/pUVOeIagS1rrqsYQJe/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 30vh;
}

.bg-image-contacts {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cmJydGYybnZyZDY1NmhqeW54d2UxNjliOG1scXFsd2hwYXg2YWtmZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3og0IuymsB9sy0C2Vq/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 50vh;
}

/* for finding bugs */
/* div {
  outline: 1px solid black;
}
p {
  outline: 1px solid black;
} */
